@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* TAGS- Generic CSS */
a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

video{
    width: 120%;
    height: 100%;
    margin: auto auto;
}

/* common classes */

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

/* header */
header{
    position: fixed;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid palevioletred;
    background-color: rgba(216, 112, 147, 0.233);
    z-index: 2;
}

.header-container{
    margin: 10px 20px;
    position: relative;
    padding: 5px;
   
}

nav{
    width: 40%;
}

nav ul li a:hover{
    color: palevioletred;
}

.mail{
    position: absolute;
    right: 0;
}

.mail-button{
    padding: 2px;
}

.mail a span{
    padding: 2px;
    color: palevioletred;
}

/* main */
.home{
    height: 100vh;
    margin-bottom:60px ;
}

.intro-text {
    position: absolute;
    top: 10%;
    left: 25%;
}

.intro-text span{
    display: block;
    font-size: 10em;
    font-weight: 800;
    color: palevioletred;
    text-shadow: 8px 8px rgba(216, 112, 147, 0.233);
}
.intro-text span:hover{
    transform: translateY(-15px);
    text-shadow: 15px 15px rgba(216, 112, 147, 0.233);

    transition: 1s;
}

.job-title{
    position: absolute;
    top: 45%;
    left: 55%;
}


.job-title p{
    font-size: 2em;
    font-weight: 400;
}

.star1,
.star2,
.star3{
    position: absolute;
}

.job-title:hover{

    .star1{
        animation-name: move1;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .star2{
        animation-name: move2;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .star3{
        animation-name: move3;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

@keyframes move1{
    0%{
        transform: translate3d(-5px, 5px, 5px);
    }
    25%{
        transform: translate3d(-10px, 10px, 10px);
    }
    50%{
        transform: translate3d(-15px, 15px, 15px);
    }
    100%{
        transform: translate3d(-20px, 20px, 20px);
    }
}


@keyframes move2{
    0%{
        transform: translate3d(5px, 5px, -5px);
    }
    25%{
        transform: translate3d(10px, 10px, -10px);
    }
    50%{
        transform: translate3d(15px, 15px, -15px);
    }
    100%{
        transform: translate3d(20px, 20px, -20px);
    }
}

@keyframes move3{
    0%{
        transform: translate3d(0, -5px, 5px);
    }
    25%{
        transform: translate3d(0, -10px, 10px);
    }
    50%{
        transform: translate3d(0, -15px, 15px);
    }
    100%{
        transform: translate3d(0, -20px, 20px);
    }
}


.star1{
    top: 60%;
}

.star2{
    top: 40%;
    left: 60%;
}

.star3{
    left: 40%;
}

/* about */

.about{
    padding: 10px;
    background-color: rgba(216, 112, 147, 0.233);
}

.about-container{
    z-index: 2;
    background-color: white;
    width: 70%;
    /* height: 90vh; */
    padding: 40px;
    margin: 100px auto;
    border: 1px solid palevioletred;
    border-radius: 16px;
    /* background-color: rgba(216, 112, 147, 0.233); */
}

 .about-content{
 width: 80%;
 margin: auto auto;
}

.about-content h2{
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    color: palevioletred;
    text-shadow: 5px 5px rgba(216, 112, 147, 0.233);
    margin-bottom: 40px;
}

/* education */

.education-container{
   position: relative;
   margin: 40px;
  
}

.education-container h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: 700;
    color: palevioletred;
    text-shadow: 3px 3px rgba(216, 112, 147, 0.233);
}

.education-card .card{
    margin: 10px;
    width: 33.33%;
    background-color: rgba(216, 112, 147, 0.091);
    border: 1px solid palevioletred;
    padding: 20px;
    height: 35vh;
    border-radius: 12px;
}
.education-card .card:hover{
    transform: scale(1.3);
    transition: 1s;
}

.education-card .card .card-body h6{
  font-size: large;
  font-weight: 600;
  margin: 10px auto;
}

.education-card .card .card-body h5{
    font-size: large;
    font-weight: 100;
}
/* skills */
.skills h1{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: palevioletred;
    text-shadow: 5px 5px rgba(216, 112, 147, 0.233);
    margin-bottom: 40px;
}

/* projects */
.grid{
    display: grid;
    width: 75%;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.img1,
.img2,
.img3, 
.img4,
.img5{
    border:1px solid black;
    border-radius: 12px;
    height: 100%;
}

.img1{
    grid-column: span 2;
    grid-row: span 2;
    position: relative;
    height: 50vh;
    overflow: hidden;
} 

.p1-i{
    position: relative;
    width: 100%;
    height: 100%;
}
.p1-i h2{
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 2em;
}
.p1-i h5{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 1.5em;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
}
.img1:hover .overlay{
    display: block;
    transition: 1s;
}
.img1:hover .p1-i h2{
    display: none;
}
.img3{
    grid-row: span 2;
    overflow: hidden;
} 

.img3:hover .overlay{
    display: block;
    transition: 1s;
}
.img3:hover .p1-i h2{
    display: none;
}

.projects h1{
    text-align: center;
    margin: 40px;
    font-size: 4em;
    font-weight: 700;
    color: palevioletred;
    text-shadow: 5px 5px rgba(216, 112, 147, 0.233);
}

/* contact */

.contact-container{
    background-color: rgba(216, 112, 147, 0.233);
    height: 80vh;
    padding: 40px;
    position: relative;
}

.contact-container h1{
    text-align: center;
    font-size: 4em;
    color:  rgba(216, 112, 147, 0.516);
}

.contact-container .bunnies{
    width: 20%;
    position: absolute;
    right: 15%;
    top: 30%;
}
.contact-container .bunnies:hover{
    transform: translateX(5px);
    transition: 1s;
}

.links a img{
    width: 3rem;
    margin: 5px;
}

.links {
    position: absolute;
    left: 20%;
    top: 30%;
}

.links .icon1,
.icon2,
.icon3{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid palevioletred;
    padding: 10px;
    background-color: rgba(236, 53, 114, 0.251);
    margin: 10px;
}

.box{

    background-color: aliceblue;
    padding: 5px;
    height: 6vh;
    margin-left: 15px;
}
.box h3{
    width: 400px;
}

