@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* TAGS- Generic CSS */
a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

/* common classes */

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

/* header */
header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid palevioletred;
    background-color: rgba(216, 112, 147, 0.233);
}

.header-container{
    margin: 10px 20px;
    position: relative;
    padding: 5px;
   
}

nav{
    width: 40%;
}

nav ul li a:hover{
    color: palevioletred;
}

.mail{
    position: absolute;
    right: 0;
}

.mail-button{
    padding: 2px;
}

.mail a span{
    padding: 2px;
    color: palevioletred;
}

/* main */
.home{
    height: 100vh;
}

.intro-text {
    position: absolute;
    top: 15%;
    left: 30%;
}

.intro-text span{
    display: block;
    font-size: 8em;
    font-weight: 800;
    color: palevioletred;
    text-shadow: 8px 8px rgba(216, 112, 147, 0.233);
}

.job-title{
    position: absolute;
    top: 43%;
    left: 55%;
}


.job-title p{
    font-size: 2em;
    font-weight: 400;
}

.star1,
.star2,
.star3{
    position: absolute;
}

.job-title:hover{

    .star1{
        animation-name: move1;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .star2{
        animation-name: move2;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .star3{
        animation-name: move3;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

@keyframes move1{
    0%{
        transform: translate3d(-5px, 5px, 5px);
    }
    25%{
        transform: translate3d(-10px, 10px, 10px);
    }
    50%{
        transform: translate3d(-15px, 15px, 15px);
    }
    100%{
        transform: translate3d(-20px, 20px, 20px);
    }
}


@keyframes move2{
    0%{
        transform: translate3d(5px, 5px, -5px);
    }
    25%{
        transform: translate3d(10px, 10px, -10px);
    }
    50%{
        transform: translate3d(15px, 15px, -15px);
    }
    100%{
        transform: translate3d(20px, 20px, -20px);
    }
}

@keyframes move3{
    0%{
        transform: translate3d(0, -5px, 5px);
    }
    25%{
        transform: translate3d(0, -10px, 10px);
    }
    50%{
        transform: translate3d(0, -15px, 15px);
    }
    100%{
        transform: translate3d(0, -20px, 20px);
    }
}


.star1{
    top: 60%;
}

.star2{
    top: 40%;
    left: 60%;
}

.star3{
    left: 40%;
}

/* about */

.about-container{
    width: 70%;
    /* height: 90vh; */
    margin: 0 auto;
    border: 1px solid palevioletred;
    border-radius: 16px;
    /* background-color: rgba(216, 112, 147, 0.233); */
}

.img-div{
    margin-bottom: 50px;
    padding: 10px;
    width: 50%;
    overflow: hidden;
    border-bottom:  1px solid palevioletred;
    /* border: 1px solid palevioletred;*/
}

 .about-content{
 width: 30%;
 margin: auto auto;
}

/* education */

.line{
    position: relative;
    width: 80%;
    height: 0.5vh;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(216, 112, 147, 0.541);
}

.education-container{
   
}

.education-container h1{
    font-size: 4em;
    font-weight: 700;
    color: palevioletred;
    text-shadow: 5px 5px rgba(216, 112, 147, 0.233);
}

.dot1,
.dot2,
.dot3{
    position: absolute;
    
}

.dot1{
    top: 5px;
    left: 10%;
}

.dot2{
    top: -25px;
    left: 50%;
}

.dot3{
    top: 5px;
    right: 10%;
}

.ed-1,
.ed-2,
.ed-3{
    position: absolute;
    background-color: rgba(216, 112, 147, 0.005);
}

.ed-1{
    width: 300px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid palevioletred;
    bottom: -130px;
    left: -100px;
}

.ed-2{
    width: 300px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid palevioletred;
    top: -140px;
    left: -150px;
}
.ed-3{
    width: 350px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid palevioletred;
    bottom: -180px;
    right: -100px;
}


.ed-1:hover{
    transform: scale(1.1);
    box-shadow: 10px 15px 10px  rgba(216, 112, 147, 0.541);
    transition: 1.5s;

}
.ed-2:hover{
    transform: scale(1.1);
    box-shadow: 10px 15px 10px  rgba(216, 112, 147, 0.541);
    transition: 1.5s;
}
.ed-3:hover{
    transform: scale(1.1);
    box-shadow: 10px 15px 10px  rgba(216, 112, 147, 0.541);
    transition: 1.5s;
}
